<!DOCTYPE html>
<html lang="en">

<head>
    <title>斯品家居个屁</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/common.css">
    <style media="screen">
        .table {
            width: 100%;
            margin-bottom: 20px;
        }

        .table-col-head {
            background-color: #f4f4f4;
            vertical-align: middle;
            text-align: center;
        }

        .table-col-th td,
        .table-col-th th {
            border: 1px solid #ccc;
        }

        .table td,
        .table th {
            padding: 8px;
        }
    </style>
</head>

<body>
    <div class="page" data-module="">
        <!--header-->
        <div class="header">
            <div class="header__wrap">
                <div class="header-logo u-wrap">
                    <div class="header-logo__wrap u-clearfix">
                        <div class="layout-fixed-inner u-clearfix">

                            <div class="header-logo__title u-fl">
                                <a href="index.html">
                                    <img src="/images/logo.png" alt="" />
                                </a>
                            </div>

                            <div class="u-fl u-mt_10 u-ml_10 u-mr_10">
                                <span class="u-f18 u-color_gray">|</span>
                            </div>

                            <div class="u-fl">
                                <h1>斯品页面列表</h1>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--/header end-->

        <div id="page-ui-kits" class="u-pt_20 u-pb_20 u-pr_20 u-pl_20">

            <table class="table table-col-th u-mb_20">
                <tbody>
                    <tr>
                        <td class="table-col-head" colspan="2">
                            {{title}}
                        </td>
                    </tr>

                    <tr>
                        <th style="width:150px;">{{title}}</th>
                        <td><a class="u-block" href="#">{{des}}</a></td>
                    </tr>

                </tbody>
            </table>

        </div>


    </div>

</body>

</html>
