<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimun-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>A-GZGZ</title>

    <link rel="stylesheet" type="text/css" href="css/common.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/tinyscrollbar.css"> -->
</head>
<body>    
<div class="container">
    <div class='nav-top hide'>
        ^
    </div>

    <div class='outer' style="width:100%;height:auto;">
        <div class='inner' style='height:auto;position:relative'>
            <div class='gzgz' style='position:relative;width:100%;height:auto;min-height:2000px;background-color:#333;'>
                
            </div>
        </div>
    </div>

    <div class='outer' style="width:100%;height:auto;margin-top:10px;">
        <div class='inner' style='height:auto;position:relative'>
            <div class='gzgz' style='position:relative;width:100%;height:500px;background-color:#333;'>
                
            </div>
        </div>
    </div>


</div>

<script type='text/javascript' src='js/alljs.js'></script>
<script type="text/javascript">
add_action('code_highlight',function(){
    $("pre").addClass("prettyprint");
    prettyPrint();
});

$(function () {
    do_action('code_highlight');
    // var
    // $scrollbar = $(".md-article");
    // $scrollbar.tinyscrollbar({'trackSize':300});
     
    var socket = io();
    var tpl = '<div class="media">\n\
                <div class="media-left">\n\
                    <a href="#">\n\
                      <img data-holder-rendered="true" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjE0LjUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==" style="width: 64px; height: 64px;" class="media-object" data-src="holder.js/64x64" alt="64x64">\n\
                    </a>\n\
                </div>\n\
                <div class="media-body">\n\
                    <a target="_blank" href="\{\{data.location\}\}">\n\
                        <h4 class="media-heading">\{\{data.title\}\}</h4>\n\
                    </a>\
                    <p class="">\{\{data.des\}\}</p>\n\
                </div>\n\
            </div>\n';

    socket.on('article_count', function(val){
        var 
        article_count = val.data;
        setTimeout(function(){
            do_action('fun_menu',article_count);
            do_action('renderList');
        }, 1000);
    });
});

</script>
</body>
</html>



=================

<script>	
	//bc(data[0]);
    var looptpl=[];
    $('.gzgz').each(function(j,v){
        looptpl[j]='';
        if(data && data.length>0){
            for(var i=0; i<data.length; i++){
                var unit = data[i];                
                if(unit.gzindex==j){
                    if(unit.cnt&&unit.cnt!=''){
                            var 
                            uuu =$(unit.unit),
                            height = uuu.height(),
                            width = uuu.width();
                            uuu.find('.md-wrap').remove();
                            if(unit.type==1){
                                uuu.prepend('<div class="md-wrap">\
                                    <div class="md-article clearfix">'+unit.cnt+'</div></div>');

                                // uuu.prepend('<div class="md-wrap">\
                                //     <div class="md-article clearfix">\
                                //     <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>\
                                //     <div class="viewport">\
                                //     <div class="overview">'+unit.cnt+'</div></div></div></div>');
                            }else if(unit.type && unit.type==2){
                                uuu.prepend('<div class="md-wrap clearfix">\
                                    <style>.tile'+unit.id+'{line-height:'+(height-60)+'px;}</style>\
                                    <div class="md-tile tile'+unit.id+'">'+unit.cnt+'</div></div>');
                            }
                            else{
                                uuu.prepend('<div class="md-wrap clearfix"><div class="md-body">'+unit.cnt+'</div></div>');
                            }
                            unit.unit = uuu[0].outerHTML;
                    }
                    looptpl[j]+=data[i].unit+'\n';
                }
            }
            //bc(data[0]);
        }
        $(this).html(looptpl[j]);
    })
    
    bjs('idindex='+data.length);

</script>
