@import "../base/_setting";
@import "../base/_css3";
@import "../base/_media-queries";
@import "../base/_mixin";
@import "../base/_grid";
@import "./_base_setting";
/*
/*自动转换px To rem
/*$html_base_font_size: 设置页面基础字体大小, 设置值与html的font-size一致
/*$ratio,移动端相关,默认1*1
/*  1*0.5: 用于ratio = 1, scale=1的场景;或用于ratio = 2, scale=0.5的场景;
/*  2*0.5: 用于ratio = 2, scale=1的场景
/*$exchange:px的值转换为rem
/*$px:用于开发;
/*用法说明:
/*例如设计稿上80px的宽度,
/*一般写法:width:80px;
/*rem一般写法: width:80/16rem;(假设html字体为16px)
/*自动转换写法: width:80*$px;
**/
$sy_html_base_font_size: 16;   //设置值与html的font-size一致
$sy_ratio: 1*1;
$sy_exchange: ($sy_ratio/$sy_html_base_font_size)*1rem;//px的值转换为rem
//$sy_exchange: 1px; 不转换直接输出px
$px: $sy_exchange;
$px: 1px;

// 字体
//==============
$font_h1: 20*$px;
$font_title: 18*$px;
$font_sub_title: 14*$px;
$font_text:12*$px;
