
<!doctype html>

<html lang="en">
<head>
<title>联华大宗</title>
@@include('./_common/header/head.html')
</head>

<body>
<div class="header">
    <div class="head_top">
        <div class="container">
            <h4><i></i>您好，欢迎来到联交所！</h4>
            <ul class="head_tcom fr clearfix">
                <li><a href="#" data-toggle="modal" data-target="#myModal">会员登录</a></li>
                <li><a href="regist.html">会员注册</a></li>
                <li><a href="#">帮助中心</a></li>
                <li><a href="#">联系我们</a></li>
            </ul>
            <ul class="head_tcom fr clearfix disN">
                <li><a href="#">欢迎您： 林小姐</a></li>
                <li><a href="#">帮助中心</a></li>
                <li><a href="#">联系我们</a></li>
            </ul>
        </div>
    </div>
    <div class="head_wrap">
        <div class="container clearfix">
            <a href="/dazong" class="head_wlogo fl"></a>
            <div class="head_wnav fl">
                <div class="head_search clearfix">
                    <div class="head_look">
                        <div class="item-select">
                          <a class="arrow-select-down"><span>全部</span><i class="all_icon s_down_icon"></i></a>
                          <ul class="hidden">
                            <li>铜</li>
                            <li>铅</li>
                          </ul>
                        </div>
                        <input type="text" class="search_text" placeholder="请输入关键字"/><input type="button" class="search_buttom" value="搜索"/>
                    </div>
                    <div class="top-tel">
                        <h4><span class="all_icon icon_tel"></span>客服热线<span class="top-tel-time">09:00-17:30</span></h4>
                        <span class="top-tel-num">020-38869600-122</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="head_nav">
        <ul class="container clearfix">
            <li class="active"><a href="index.html">首页</a></li>
            <li class="nav-line"></li>
            <li>
                <a href="info.html">宏观资讯</a>
                <ul class="dropdown_menus">
                    <li><a href="info.html">国际视野</a></li>
                    <li><a href="info.html">国内热点</a></li>
                </ul>
            </li>
            <li class="nav-line"></li>
            <li>
                <a href="#">行业信息</a>
                <ul class="dropdown_menus">
                    <li><a href="info.html">行业资讯</a></li>
                    <li><a href="info.html">产品行情</a></li>
                    <li><a href="info.html">今日报价</a></li>
                    <li><a href="info.html">行业报告</a></li>
                </ul>
            </li>
            <li class="nav-line"></li>
            <li><a href="index-item.html">金属商城</a></li>
            <li class="nav-line"></li>
            <li>
                <a href="#">市场行情</a>
                <ul class="dropdown_menus">
                    <li><a href="info.html">宏观市场行情</a></li>
                    <li><a href="info.html">有色金属行情</a></li>
                </ul>
            </li>
            <li class="nav-line"></li>
            <li>
                <a href="#">业内视点</a>
                <ul class="dropdown_menus">
                    <li><a href="info.html">会展交流</a></li>
                    <li><a href="info.html">媒体报道</a></li>
                    <li><a href="info.html">企业新闻</a></li>
                </ul>
            </li>
            <li class="nav-line"></li>
            <li>
                <a href="#">机构观察</a>
                <ul class="dropdown_menus">
                    <li><a href="info.html">国际视野</a></li>
                    <li><a href="info.html">国内热点</a></li>
                </ul>
            </li>
            <li class="nav-line"></li>
            <li>
                <a href="#">联华讲堂</a>
                <ul class="dropdown_menus">
                    <li><a href="info.html">国际视野</a></li>
                    <li><a href="info.html">国内热点</a></li>
                </ul>
            </li>
            <li class="nav-line"></li>
            <li>
                <a href="#">求购信息</a>
                <ul class="dropdown_menus">
                    <li><a href="info.html">国际视野</a></li>
                    <li><a href="info.html">国内热点</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="banner slide">
  <div id="product-slider" class="rsDefault">
    <a href="#"><img class="rsImg rsMainSlideImage" src="/images/banner/banner1.jpg"/></a>
    <a href="#"><img class="rsImg rsMainSlideImage" src="/images/banner/banner2.jpg"/></a>
    <a href="#"><img class="rsImg rsMainSlideImage" src="/images/banner/banner3.jpg"/></a>
    <a href="#"><img class="rsImg rsMainSlideImage" src="/images/banner/banner4.jpg"/></a>
  </div>
</div>
<div class="wrapper">
    <div class="section1">
        <div class="container">
            <div class="sort_class">
                <dl id="myTab" class="nav nav-tabs">
                    <dt><a href="#myTab_t1" data-toggle="tab"><i class="nav-icon"></i>宏观资讯</a></dt>
                    <dd><a href="#myTab_t2" data-toggle="tab">国际视野</a></dd>
                    <dd><a href="#myTab_t3" data-toggle="tab">国内热点</a></dd>
                </dl>
                <a href="#" class="more">更多>></a>
            </div>
            <div id="myTabContent" class="tab-content">
                <div class="sort_product tab-pane fade in active" id="myTab_t1">
                    <ul class="row clearfix">
                        <li class="col-lg-5">
                            <dl>
                                <dt></dt>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                            </dl>
                        </li>
                        <li class="col-lg-5">
                            <dl>
                                <dt></dt>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="sort_product tab-pane fade" id="myTab_t2">
                    <ul class="row clearfix">
                        <li class="col-lg-5">
                            <dl>
                                <dt></dt>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                            </dl>
                        </li>
                        <li class="col-lg-5">
                            <dl>
                                <dt></dt>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="sort_product tab-pane fade" id="myTab_t3">
                    <ul class="row clearfix">
                        <li class="col-lg-5">
                            <dl>
                                <dt></dt>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                            </dl>
                        </li>
                        <li class="col-lg-5">
                            <dl>
                                <dt></dt>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sort_pro_show">
                <dl>
                    <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                    <dd><label>热轧卷 </label> 鞍钢</dd>
                    <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                    <dd><label>存货量： </label> 2000 吨</dd>
                    <dd><label>起订量： </label> 200 吨</dd>
                    <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="section1 ggt_big">
        <div class="container">
            <img src="/images/ad/ad.jpg"/>
        </div>
    </div>
    <div class="section1">
        <div class="container">
            <div class="sort_class">
                <dl id="myTab2" class="nav nav-tabs">
                    <dt><a href="#myTab2_t1" data-toggle="tab"><i class="nav-icon"></i>行业信息</a></dt>
                    <dd><a href="#myTab2_t2" data-toggle="tab">行业资讯</a></dd>
                    <dd><a href="#myTab2_t3" data-toggle="tab">产品行情</a></dd>
                    <dd><a href="#myTab2_t4" data-toggle="tab">今日报价</a></dd>
                    <dd><a href="#myTab2_t5" data-toggle="tab">行业报告</a></dd>
                </dl>
                <a href="#" class="more">更多>></a>
            </div>
            <div id="myTabContent2" class="tab-content">
                <div class="sort_product tab-pane fade in active" id="myTab2_t1">
                    <ul class="row clearfix">
                        <li class="col-lg-5">
                            <dl>
                                <dt></dt>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                            </dl>
                        </li>
                        <li class="col-lg-5">
                            <dl>
                                <dt></dt>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                            </dl>
                        </li>

                    </ul>
                </div>
                <div class="sort_product tab-pane fade" id="myTab2_t2">
                    <ul class="row clearfix">
                        <li class="col-lg-5">
                            <dl>
                                <dt></dt>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                            </dl>
                        </li>
                        <li class="col-lg-5">
                            <dl>
                                <dt></dt>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="sort_product tab-pane fade" id="myTab2_t3">
                    <ul class="row clearfix">
                        <li class="col-lg-5">
                            <dl>
                                <dt></dt>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                            </dl>
                        </li>
                        <li class="col-lg-5">
                            <dl>
                                <dt></dt>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="sort_product tab-pane fade" id="myTab2_t4">
                    <ul class="row clearfix">
                        <li class="col-lg-5">
                            <dl>
                                <dt></dt>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                            </dl>
                        </li>
                        <li class="col-lg-5">
                            <dl>
                                <dt></dt>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="sort_product tab-pane fade" id="myTab2_t5">
                    <ul class="row clearfix">
                        <li class="col-lg-5">
                            <dl>
                                <dt></dt>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                            </dl>
                        </li>
                        <li class="col-lg-5">
                            <dl>
                                <dt></dt>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sort_pro_show">
                <dl>
                    <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                    <dd><label>热轧卷 </label> 鞍钢</dd>
                    <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                    <dd><label>存货量： </label> 2000 吨</dd>
                    <dd><label>起订量： </label> 200 吨</dd>
                    <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="section1 ggt_big">
        <div class="container">
            <img src="/images/ad/ad.jpg"/>
        </div>
    </div>
    <div class="section1">
        <div class="container">
            <div class="sort_class">
                <dl id="myTab3" class="nav nav-tabs">
                    <dt><a href="#myTab3_t1" data-toggle="tab"><i class="nav-icon"></i>金属商城</a></dt>
                    <dd><a href="#myTab3_t2" data-toggle="tab">铜</a></dd>
                    <dd><a href="#myTab3_t3" data-toggle="tab">铝</a></dd>
                    <dd><a href="#myTab3_t4" data-toggle="tab">锌</a></dd>
                </dl>
                <a href="#" class="more">更多>></a>
            </div>
            <div id="myTabContent3" class="tab-content index_metal">
                <div class="sort_product tab-pane fade in active" id="myTab3_t1">
                    <ul class="row clearfix">
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="sort_product tab-pane fade" id="myTab3_t2">
                    <ul class="row clearfix">
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="sort_product tab-pane fade" id="myTab3_t3">
                    <ul class="row clearfix">
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="sort_product tab-pane fade" id="myTab3_t4">
                    <ul class="row clearfix">
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section1 ggt_big">
        <div class="container">
            <img src="/images/ad/ad.jpg"/>
        </div>
    </div>
    <div class="section1">
        <div class="container">
            <div class="sort_class">
                <dl id="myTab4" class="nav nav-tabs">
                    <dt><a href="#myTab4_t1" data-toggle="tab"><i class="nav-icon"></i>市场行情</a></dt>
                    <dd><a href="#myTab4_t2" data-toggle="tab">宏观市场行情</a></dd>
                    <dd><a href="#myTab4_t3" data-toggle="tab">有色金属行情</a></dd>
                </dl>
                <a href="#" class="more">更多>></a>
            </div>
            <div id="myTabContent4" class="tab-content">
                <div class="sort_product tab-pane fade in active" id="myTab4_t1">
                    <ul class="row clearfix">
                        <li class="col-lg-5">
                            <dl>
                                <dt></dt>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                            </dl>
                        </li>
                        <li class="col-lg-5">
                            <dl>
                                <dt></dt>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="sort_product tab-pane fade" id="myTab4_t2">
                    <ul class="row clearfix">
                        <li class="col-lg-5">
                            <dl>
                                <dt></dt>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                            </dl>
                        </li>
                        <li class="col-lg-5">
                            <dl>
                                <dt></dt>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="sort_product tab-pane fade" id="myTab4_t3">
                    <ul class="row clearfix">
                        <li class="col-lg-5">
                            <dl>
                                <dt></dt>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                            </dl>
                        </li>
                        <li class="col-lg-5">
                            <dl>
                                <dt></dt>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sort_pro_show">
                <dl>
                    <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                    <dd><label>热轧卷 </label> 鞍钢</dd>
                    <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                    <dd><label>存货量： </label> 2000 吨</dd>
                    <dd><label>起订量： </label> 200 吨</dd>
                    <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="section1 ggt_big">
        <div class="container">
            <img src="/images/ad/ad.jpg"/>
        </div>
    </div>
    <div class="section1">
        <div class="container">
            <div class="sort_class">
                <dl id="myTab5" class="nav nav-tabs">
                    <dt><a href="#myTab5_t1" data-toggle="tab"><i class="nav-icon"></i>业内视点</a></dt>
                    <dd><a href="#myTab5_t2" data-toggle="tab">会展交流</a></dd>
                    <dd><a href="#myTab5_t3" data-toggle="tab">媒体报道</a></dd>
                    <dd><a href="#myTab5_t4" data-toggle="tab">企业新闻</a></dd>
                </dl>
                <a href="#" class="more">更多>></a>
            </div>
            <div id="myTabContent4" class="tab-content">
                <div class="sort_product tab-pane fade in active" id="myTab5_t1">
                    <ul class="row clearfix">
                        <li class="col-lg-5">
                            <dl>
                                <dt></dt>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                            </dl>
                        </li>
                        <li class="col-lg-5">
                            <dl>
                                <dt></dt>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="sort_product tab-pane fade" id="myTab5_t2">
                    <ul class="row clearfix">
                        <li class="col-lg-5">
                            <dl>
                                <dt></dt>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                            </dl>
                        </li>
                        <li class="col-lg-5">
                            <dl>
                                <dt></dt>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="sort_product tab-pane fade" id="myTab5_t3">
                    <ul class="row clearfix">
                        <li class="col-lg-5">
                            <dl>
                                <dt></dt>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                            </dl>
                        </li>
                        <li class="col-lg-5">
                            <dl>
                                <dt></dt>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="sort_product tab-pane fade" id="myTab5_t4">
                    <ul class="row clearfix">
                        <li class="col-lg-5">
                            <dl>
                                <dt></dt>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                            </dl>
                        </li>
                        <li class="col-lg-5">
                            <dl>
                                <dt></dt>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                                <dd><p><a href="#">2015年部分省市钢铁及铁合金落后产能淘... </a></p><i>2015-05-05</i></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sort_pro_show">
                <dl>
                    <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                    <dd><label>热轧卷 </label> 鞍钢</dd>
                    <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                    <dd><label>存货量： </label> 2000 吨</dd>
                    <dd><label>起订量： </label> 200 吨</dd>
                    <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="section1 ggt_big">
        <div class="container">
            <img src="/images/ad/ad.jpg"/>
        </div>
    </div>
    <div class="section1">
        <div class="container">
            <div class="index_buy">
                <div class="index_sort_title"><em><i class="nav-icon"></i>最新求购信息<span>今日共发布100条</span></em><a href="#" class="more">更多>></a></div>
                <div class="table-responsive">
                    <table class="table table-hover table-org">
                        <thead>
                            <tr>
                                <th>商品名称</th>
                                <th>商标</th>
                                <th>规格型号</th>
                                <th>数量</th>
                                <th>单位</th>
                                <th>单价（元)</th>
                                <th>发布时间</th>
                                <th>状态</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>铜</td>
                                <td>铁峰</td>
                                <td>A级铜</td>
                                <td>1000</td>
                                <td>吨</td>
                                <td>5000</td>
                                <td>2015-5-5</td>
                                <td>供应中</td>
                                <td><a href="#">查看</a></td>
                            </tr>
                            <tr>
                                <td>铜</td>
                                <td>铁峰</td>
                                <td>A级铜</td>
                                <td>1000</td>
                                <td>吨</td>
                                <td>5000</td>
                                <td>2015-5-5</td>
                                <td>供应中</td>
                                <td><a href="#">查看</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <ul>
            <li><a href="#">首页</a></li>
            <li><a href="#">金属商城</a></li>
            <li><a href="#">行业资讯</a></li>
            <li><a href="#">帮助中心</a></li>
            <li><a href="#">登陆</a></li>
            <li><a href="#">联系我们</a></li>
        </ul>
        <p>Copyright © 2010-2015 dzhce.cn. All Rights Reserved 广州联华电子商务有限公司版权所有 <a href="#">粤ICP备10215232号-2</a></p>
    </div>
</div>
<!-- 弹出框 start -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog"><!-- 登录框 start -->
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                 &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">登录</h4>
         </div>
         <div class="modal-body login_body">
            <form method="post">
                <div class="login_input">
                  <input class="user_phone form-control" placeholder="手机号" type="text">
                  <input class="user_pwd form-control" placeholder="密码" type="password">
                  <div class="l_code clearfix hidden">
                      <input class="code fl form-control" placeholder="验证码" type="text">
                      <img src="/images/yzm.png"/>
                      <a href="#">换一张</a>
                  </div>
                </div>
                <div class="login_tip clear">
                  <div class="login_remeber fl"><b class="checkbox"></b><span class="m_t5 fl">下次自动登录</span></div>
                  <div class="login_password fr m_t5"><a href="forget.html">忘记密码？</a></div>
                </div>
                <div class="login_btn"><button type="button" class="btn btn-primary">登录</button></div>
                <div class="login_reg"><a href="#">立即注册</a></div>
            </form>
         </div>
      </div><!-- 登录框 end -->
</div><!-- 弹出框 end -->
@@include('./_common/footer/foot.html')
</body>
</html>
