
<!doctype html>

<html lang="en">
<head>
<title>联华大宗</title>
@@include('./_common/header/head.html')
</head>

<body>
@@include('./_common/header/header.html')
<!-- <div class="banner slide">
  <div id="product-slider" class="rsDefault">
    <a href="#"><img class="rsImg rsMainSlideImage" src="/images/banner/banner1.jpg"/></a>
    <a href="#"><img class="rsImg rsMainSlideImage" src="/images/banner/banner2.jpg"/></a>
    <a href="#"><img class="rsImg rsMainSlideImage" src="/images/banner/banner3.jpg"/></a>
    <a href="#"><img class="rsImg rsMainSlideImage" src="/images/banner/banner4.jpg"/></a>
  </div>
</div> -->
<div class="wrapper">
    <div class="section1">
        <div class="container">
            <div class="sort_class">
                <dl class="nav nav-tabs">
                    <dt><a href="#myTab2_t1" data-toggle="tab"><i class="nav-icon"></i>搜索结果</a></dt>
                </dl>
                <a href="#" class="more">更多>></a>
            </div>

            <div class="tab-content row u-clearfix">
                <ul class="list col-lg-12">
                    <li class="list-item">
                        <div class="list-left" style="">
                            fsafdsg
                        </div>
                        <div class="list-bd">
                            <h4 class="list-heading">2015年部分省市钢铁及铁合金落后产能淘... </h4><i class="list-small">2015-05-05</i>
                            <p class="list-des">年部分省市钢铁及铁合金落后产能淘年部分省市钢铁及铁合金落后产能淘年部分省市钢铁及铁合金落后产能淘年部分省市钢铁及铁合金落后产能淘年部分省市钢铁及铁合金落后产能淘年部分省市钢铁及铁合金落后产能淘年部分省市钢铁及铁合金落后产能淘年部分省市钢铁及铁合金落后产能淘</p>
                        </div>
                    </li>

                </ul>

                <ul class="list col-lg-12">
                    {{#each pageBean.recordList}}
                    <li class="list-item">
                        <div class="list-left">
                            fsafdsg
                        </div>
                        <div class="list-bd">
                            <h4 class="list-heading"><a href="http://120.25.223.175:5051/jh-web-portal/info/view/{{id}}.html">{{title}}</a></h4><i class="list-small">{{publishTime}}</i>
                            <p class="list-des">{{summary}}</p>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <div class="section1 ggt_big">
        <div class="container">
            <img src="/images/ad/ad.jpg"/>
        </div>
    </div>
    <div class="section1">
        <div class="container">
            <div class="sort_class">
                <dl id="myTab3" class="nav nav-tabs">
                    <dt><a href="#myTab3_t1" data-toggle="tab"><i class="nav-icon"></i>金属商城</a></dt>
                    <dd><a href="#myTab3_t2" data-toggle="tab">铜</a></dd>
                    <dd><a href="#myTab3_t3" data-toggle="tab">铝</a></dd>
                    <dd><a href="#myTab3_t4" data-toggle="tab">锌</a></dd>
                </dl>
                <a href="#" class="more">更多>></a>
            </div>
            <div id="myTabContent3" class="tab-content index_metal">
                <div class="sort_product tab-pane fade in active" id="myTab3_t1">
                    <ul class="row clearfix">
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="sort_product tab-pane fade" id="myTab3_t2">
                    <ul class="row clearfix">
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="sort_product tab-pane fade" id="myTab3_t3">
                    <ul class="row clearfix">
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="sort_product tab-pane fade" id="myTab3_t4">
                    <ul class="row clearfix">
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                        <li class="col-lg-2">
                            <dl>
                                <dt><a href="item.html"><img src="/images/updown/pic1.jpg"></a></dt>
                                <dd><label>热轧卷 </label> 鞍钢</dd>
                                <dd><label>热轧卷 </label> 3.0*1250*C</dd>
                                <dd><label>存货量： </label> 2000 吨</dd>
                                <dd><label>起订量： </label> 200 吨</dd>
                                <dd><label>供货商： </label> 佛山市顺德区启日贸易有限公司</dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section1 ggt_big">
        <div class="container">
            <img src="/images/ad/ad.jpg"/>
        </div>
    </div>
</div>

@@include('./_common/footer/footer.html')
@@include('./_common/footer/foot.html')
</body>
</html>
