
<!doctype html>

<html>
<head>
    <title>h5首页</title>
    @@include('../_common/header/head.html')
    <link rel="stylesheet" href="/css/markdown.css">
    <style>
        .container{
            width: 1000px;
        }
        .side{
            position: relative;
        }
    </style>

</head>
<body>
    <div class="markdown-preview">
        <div class="container u-ma" style="">
            <div class="span9" style="">
                    ~~md~~
            </div>

            <div class="span3 side">
                <div style="">
                    <ul>
                        ~~md-menu~~
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
