@import "../../modules/_settings/_setting_pages";
//banner
.banner{
  position: relative;
  &,.swipe,.swipe-item{
    //@include rem(height, 600/16);
  }
  img{
    width:100%;
    position:relative;
    display:block;
  }
}
.category-menu{
  width:345*$px;
  height:600*$px;
  position: absolute;
  left: 15%;
  top: 0;
  &__item{
    height:70*$px;
    padding:10*$px 20*$px;

    position:relative;
    background: rgba(0,0,0,0.8);
  }
  &__item--active {
    background: rgba(50,50,50,0.9);
  }
  &__more {
    height:40*$px;
    padding: 0 20*$px;
    background: rgba(0,0,0,0.8);
  }
  &__more a {
    font-size:14*$px;
    color: $color_gold;
  }
  &__item-hd{
    margin-top:10*$px;
  }
  &__item-hd a{
    font-size:18*$px;
    margin-right:10*$px;
    color: $color_gold;
  }
  &__item-bd{
    margin-top:10*$px;
  }
  &__sub-item{
    font-size:14*$px;
    margin-right:20*$px;
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
  &__pop-item{
    position:absolute;
    top:0;
    left:100%;
    display:none;
    width:350*$px;
    padding:10*$px 10*$px 20*$px;
    background: rgba(50,50,50,0.9);
  }
  &__item--active {
    .category-menu__pop-item {
      display:block;
    }
  }
  &__pop-item-hd{
    margin-top:10*$px;
  }
  &__pop-item-hd a {
    font-size:18*$px;
    margin-left:10*$px;
    color: $color_gold;
  }
  &__pop-item-hd span {
    margin-left:15*$px;
    color: #666;
  }
  &__pop-item-bd{}
  &__pop-item-bd a {
    font-size:14*$px;
    margin-right:20*$px;
    color: #fff;
  }
  &__pop-item-bd li {
    margin-top:10*$px;
  }
  &__pop-sub-item{}
}

//首页tab
.index-tab{
  position:relative;
  margin-top:52*$px;

  img{
    width:100%;
    display:block;
    height: 400*$px;
  }
  .ui-tab{
    @include wrapper(8,false);
    @include prepend(2);
    &__item{
      @include column(3);
    }
  }

  &__text{
    height:80*$px;
    position:relative;
    @extend %float;
    text-align:center;
    cursor: pointer;

    &._active{
      &:before{
        content:'';
        position:absolute;
        bottom:0;
        left:5*$px;
        right:5*$px;
        height:2*$px;
        background:#d3af94;
      }
      &-cn,&-en{
        color:#d3af94;
      }
    }

    &-cn,&-en{
      margin:0 10*$px;
    }
    &-cn{
      padding-top:30*$px;
      line-height:26*$px;
      color:#6f5642;
      font-size:20*$px;
    }
    &-en{
      line-height:16*$px;
      color:#dcdcdc;
      font-size:12*$px;
    }
  }

  &__btn{
    position:absolute;
    top:28*$px;
    @include column(12);

    .btn{
      position:absolute;
      right:0;
    }
  }

  //swipe
  &-swipe{

    &__item{

    }

    &__row-01,&__row-02{

    }
    &__row-01{
    }
    &__row-02{

    }
    &__row-01 &__img-box{
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      position: relative;
    }
    &__row-02 &__img-box{
      width: 25%;
      margin-left: auto;
      margin-right: auto;
      position: relative;
    }
    &__img-box{
      @extend %float;
      float:left;
      overflow:hidden;
    }

    &__text {
      position: absolute;
      width:175*$px;
      height:120*$px;
    }

  }

}

._text_right_top {
  text-align: right;
  right:30*$px;
  top:30*$px;
}
._text_left_top {
  text-align: left;
  left:30*$px;
  top:30*$px;
}
._text_center_top {
  text-align: center;
  left: 30%;
  top:30*$px;
}

/* 首页楼层 */
.home-floor {
  margin-bottom: 20*$px;
  &__title {
    position: relative;
  }
  &__title .btn {
    position: absolute;
    right: 0*$px;
    bottom: 20*$px;
    color: #3a3a3a;
    border: 1*$px solid #3a3a3a;
    &:hover{
      color: #fff;
      border: 1px solid #d6b59b;
    }
  }
  &__logo {
    width: 300*$px;
    height: 83*$px;
    margin-top: 15*$px;
    margin-bottom: 15*$px;
    margin-right: auto;
    margin-left: auto;
  }
  &__content {
    border: 1*$px solid $color_gray2;
    overflow: hidden;
    box-shadow: 0 -6*$px 0*$px #F8F8F8;
  }
  &__item {
    @extend %float;
    $getWidth: getWidth(3, true);
    //width: $getWidth+$gridMarginValue;
    width:25%;
    border-right: 1*$px solid $color_gray2;
    margin-right: -1*$px;
    padding-top: 10*$px;
    padding-bottom: 1020px;
    margin-bottom: -1000px;
    position: relative;
    &:last-child {
      border-right: none;
    }
  }
}

.home-floor-item-vertical {
  position: relative;
  &:first-child {
    border-bottom: 1*$px solid $color_gray2;
    padding-bottom: 10*$px;
  }
  &:last-child {
    padding-top: 10*$px;
  }
  .home-good__text {
    padding-top: 15*$px;
    padding-left: 15*$px;
  }
}

._floor_1f {
  background: url("../images/slice/floor_1f.png");
}

._floor_2f {
  background: url("../images/slice/floor_2f.png");
}

._floor_3f {
  background: url("../images/slice/floor_3f.png");
}

._floor_new-arrival {
  background: url("../images/slice/floor_new_arrival.png") no-repeat 50% 50%;
  width:180*$px;
}

.__home-floor-item-span2 {
  $getWidth: getWidth(6, true, 0); // Use the width calculation function to get the width
  //width: $getWidth+$gridMarginValue;
  width:50%;
}

.home-good {
  &__title {
    font-size: 18*$px;
    color: $color_black;
    line-height: 14*$px;
    margin-bottom: 5*$px;
    a {
      color: $color_black;
    }
  }
  &__description {
    font-size: 12*$px;
    line-height: 14*$px;
    color: $color_gray;
    margin-bottom: 5*$px;
    max-height: 14*4*$px;
    overflow: hidden;
  }
  &__price {
    font-size: 16*$px;
    color: $color_gold;
  }
  &__action {
    margin-top: 10*$px;
  }
  &__img {
    overflow: hidden;
    margin: 0 auto;
    padding: 20*$px;
    img {
      width: 100%;
      transition: transform .2s linear;
      &:hover {
        transform: translateX(-5*$px);
      }
    }
  }
}

.index-tab .home-good__description {
  max-height: 14*2*$px;
}

/* 主题家居 */
.theme-furniture-box {
  padding-top: 20*$px;
  &__wrap {
    padding-bottom: 20 $px;
  }
  &__item {
    margin-bottom: 20*$px;
    position: relative;
    img {
      width: 100%;
    }
  }
}

.home-good__title {
  &:hover {
    color: $color_gold_hover;
  }
  a {
    &:hover {
      color: $color_gold_hover;
    }
  }
}

.good-list-item__title {
  a {
    &:hover {
      color: $color_gold_hover;
    }
  }
}




@media (max-width: 1024*$px) {
    .index-tab .home-good__description {
        display: none;
    }
}
